/**
 * Design System Typography Tokens
 * 
 * This file contains typography-related tokens such as font sizes, 
 * weights, and line heights, ensuring consistent text styling 
 * across all components.
 */

:root {
  --TypographyTypes-Display-Display1-Family: var(--FontFamily-Family-2);
  --TypographyTypes-Display-Display1-Size: var(--FontSize-Size80);
  --TypographyTypes-Display-Display1-Type: var(--FontType-Thin);
  --TypographyTypes-Display-Display2-Family: var(--FontFamily-Family-2);
  --TypographyTypes-Display-Display2-Size: var(--FontSize-Size72);
  --TypographyTypes-Display-Display2-Type: var(--FontType-Thin);
  --TypographyTypes-Display-Display3-Family: var(--FontFamily-Family-2);
  --TypographyTypes-Display-Display3-Size: var(--FontSize-Size64);
  --TypographyTypes-Display-Display3-Type: var(--FontType-Thin);
  --TypographyTypes-Display-Display4-Family: var(--FontFamily-Family-2);
  --TypographyTypes-Display-Display4-Size: var(--FontSize-Size58);
  --TypographyTypes-Display-Display4-Type: var(--FontType-Thin);
  --TypographyTypes-Display-Display5-Family: var(--FontFamily-Family-2);
  --TypographyTypes-Display-Display5-Size: var(--FontSize-Size48);
  --TypographyTypes-Display-Display5-Type: var(--FontType-Thin);
  --TypographyTypes-Display-Display6-Family: var(--FontFamily-Family-2);
  --TypographyTypes-Display-Display6-Size: var(--FontSize-Size40);
  --TypographyTypes-Display-Display6-Type: var(--FontType-Thin);
  --TypographyTypes-Heading-Heading1-Family: var(--FontFamily-Family);
  --TypographyTypes-Fs-fs-xm-10-Family: var(--FontFamily-Family);
  --TypographyTypes-Body-Family: var(--FontFamily-Family);
  --TypographyTypes-Body-Size: var(--FontSize-Size-14);
  --TypographyTypes-Body-Type: var(--FontType-Regular);
  --TypographyTypes-Fs-fs-xm-10-Size: var(--FontSize-Size-10);
  --TypographyTypes-Fs-fs-xm-10-Extrabold: var(--FontType-ExtraBold);
  --TypographyTypes-Fs-fs-xm-10-Medium: var(--FontType-Medium);
  --TypographyTypes-Fs-fs-xm-10-Regular: var(--FontType-Medium);
  --TypographyTypes-Fs-fs-sm-12-Family: var(--FontFamily-Family);
  --TypographyTypes-Fs-fs-sm-12-Size: var(--FontSize-Size-12);
  --TypographyTypes-Fs-fs-sm-12-fs-sm: var(--FontType-Medium);
  --TypographyTypes-Fs-fs-sm-12-fs-sm-Regular: var(--FontType-Regular);
  --TypographyTypes-Heading-Heading1-Size: var(--FontSize-Size-30);
  --TypographyTypes-Heading-Heading1-Font-Weight-Thin: var(--FontType-Thin);
  --TypographyTypes-Heading-Heading1-Font-Weight-Regular: var(--FontType-Regular);
  --TypographyTypes-Heading-Heading1-Font-Weight-Medium: var(--FontType-Medium);
  --TypographyTypes-Heading-Heading1-Font-Weight-Semibold: var(--FontType-SemiBold);
  --TypographyTypes-Heading-Heading1-Font-Weight-Extrabold: var(--FontType-ExtraBold);
  --TypographyTypes-Heading-Heading1-Font-Weight-Black: var(--FontType-Black);
  --TypographyTypes-Heading-Heading2-Family: var(--FontFamily-Family);
  --TypographyTypes-Heading-Heading2-Size: var(--FontSize-Size-28);
  --TypographyTypes-Heading-Heading2-Heading2: var(--FontType-SemiBold);
  --TypographyTypes-Heading-Heading3-Family: var(--FontFamily-Family);
  --TypographyTypes-Heading-Heading4-Family: var(--FontFamily-Family);
  --TypographyTypes-Heading-Heading4-Size: var(--FontSize-Size-24);
  --TypographyTypes-Heading-Heading4-Heading4: var(--FontType-SemiBold);
  --TypographyTypes-Heading-Heading3-Size: var(--FontSize-Size-26);
  --TypographyTypes-Heading-Heading3-Heading3: var(--FontType-SemiBold);
  --TypographyTypes-Heading-Heading5-Family: var(--FontFamily-Family);
  --TypographyTypes-Heading-Heading5-Size: var(--FontSize-Size-22);
  --TypographyTypes-Heading-Heading5-Heading5: var(--FontType-SemiBold);
  --TypographyTypes-Heading-Heading6-Family: var(--FontFamily-Family);
  --TypographyTypes-Heading-Heading6-Size: var(--FontSize-Size-20);
  --TypographyTypes-Heading-Heading6-Heading6: var(--FontType-SemiBold);
  --TypographyTypes-Heading-SubHeading1-Family: var(--FontFamily-Family);
  --TypographyTypes-Heading-SubHeading1-Size: var(--FontSize-Size-18);
  --TypographyTypes-Heading-SubHeading1-Sbh1SemiBold: var(--FontType-SemiBold);
  --TypographyTypes-Heading-SubHeading1-Sbh1ExtraBold: var(--FontType-ExtraBold);
  --TypographyTypes-Heading-SubHeading1-Sbh1Regular: var(--FontType-Regular);
  --TypographyTypes-Heading-SubHeading1-Sbh1Medium: var(--FontType-Medium);
  --TypographyTypes-Heading-SubHeading2-Family: var(--FontFamily-Family);
  --TypographyTypes-Heading-SubHeading3-Family: var(--FontFamily-Family);
  --TypographyTypes-Heading-SubHeading3-Size: var(--FontSize-Size-14);
  --TypographyTypes-Heading-SubHeading3-Sbh3ExtraBold: var(--FontType-ExtraBold);
  --TypographyTypes-Heading-SubHeading3-Sbh3Semibold: var(--FontType-SemiBold);
  --TypographyTypes-Heading-SubHeading3-Sbh3Medium: var(--FontType-Medium);
  --TypographyTypes-Heading-SubHeading3-Sbh3Regular: var(--FontType-Regular);
  --TypographyTypes-Heading-SubHeading3-Sbh3Black: var(--FontType-Black);
  --TypographyTypes-Heading-SubHeading2-Size: var(--FontSize-Size-16);
  --TypographyTypes-Heading-SubHeading2-Sbh2SemiBold: var(--FontType-SemiBold);
  --TypographyTypes-Heading-SubHeading2-Sbh2ExtraBold: var(--FontType-ExtraBold);
  --TypographyTypes-Heading-SubHeading2-Sbh2Medium: var(--FontType-Medium);
  --TypographyTypes-Heading-SubHeading2-Sbh2Regular: var(--FontType-Regular);
  --TypographyTypes-ButtonsTypography-Standard_Button-Family: var(--FontFamily-Family);
  --TypographyTypes-ButtonsTypography-Standard_Button-Size: var(--button-size-14);
  --TypographyTypes-ButtonsTypography-Standard_Button-Type: var(--FontType-ExtraBold);
}
